body {background:#FFFFFF; color:#2D2D2D; font-family:Arial,Verdana,Times,Helvetica; font-size:13px; ; margin:0px; margin-left:10px; margin-right:10px; margin-top:50px;}
img  {margin:0px; border:0px; vertical-align:middle;}
a    {text-decoration:underline;color:#000000; font-weight:normal; display:block}

table   {border-collapse:collapse; border:1px solid #646464; font-family: Arial; }
caption {background:#050505; color:#F5F5F5; font-family:Arial,Verdana,Times,Helvetica; font-size:14px; ; padding:6px 0px; caption-side:top; font-weight:bold; letter-spacing:5px}
thead   {background:#323232; color:#F5F5F5; font-family:Arial,Verdana,Times,Helvetica; font-size:14px; ; font-weight:normal; letter-spacing:1px}
tbody   {background:#F5F5F5; color:#2D2D2D; font-family:Arial,Verdana,Times,Helvetica; font-size:12px; ; font-weight:normal;}
th      {border:1px solid #646464; padding:4px  0px; text-align:center;}
td      {border:1px solid #646464; padding:4px 10px; text-align:left;  }

tr:nth-child(even) {background:#E1E1E1;}
.tdLink:hover      {background:#323232;}

  .TabObj_Properties {width: 700px}  .TabObj_Properties  td:nth-child(1) {width:32%;}  .TabObj_Properties  td:nth-child(2) {width:68%;}
  .TabObj_Occurrences{width: 700px}  .TabObj_Occurrences td:nth-child(1) {width:32%;}  .TabObj_Occurrences td:nth-child(2) {width:68%;}
  .TabObj_Relations  {width:1558px}  .TabObj_Relations   td:nth-child(1) {width:14.38%;}  .TabObj_Relations   td:nth-child(2) {width:30.55%;}  .TabObj_Relations   td:nth-child(3) {width:13%;}  .TabObj_Relations   td:nth-child(4) {width:28.07%;}  .TabObj_Relations   td:nth-child(5) {width:14%;}
  .TabModel_Reports  {width:1080px}  .TabModel_Reports   td:nth-child(1) {width:42%;}  .TabModel_Reports   td:nth-child(2) {width:18%;}  .TabModel_Reports   td:nth-child(3) {width:40%;}
  .TabLink_Summary   {width: 380px}  .TabLink_Summary    td:nth-child(1) {width:50%;}  .TabLink_Summary    td:nth-child(2) {width:50%;}
  .TabLink_Details   {width:1900px}  .TabLink_Details    td:nth-child(1) {width:10%;}  .TabLink_Details    td:nth-child(2) {width:10%;}  .TabLink_Details    td:nth-child(3) {width:18%;}  .TabLink_Details    td:nth-child(4) {width:20%;}  .TabLink_Details    td:nth-child(5) {width:9%;}  .TabLink_Details    td:nth-child(6) {width:33%;}

.Titlebar_Objects { background:#050505; color:#F5F5F5;  font-family:Arial,Verdana,Times,Helvetica; font-size:15px;  font-weight:bold; font-variant:small-caps; padding-left:54px; line-height:40px; position:fixed; left:0px; top:0px; width:7000px; }
.Titlebar_Links { background:#050505; color:#F5F5F5;  font-family:Arial,Verdana,Times,Helvetica; font-size:15px;  font-weight:bold; font-variant:small-caps; padding-left:15px; line-height:40px; position:fixed; left:0px; top:0px; width:7000px; }
.Button_Object { background:#050505; color:#F5F5F5;  padding-left:5px; line-height:36px; position:fixed; left:0px; top:2px; height:36px; width:45px; }

.Button_Enabled        {background-color:#050505; width:32px; height:28px; top:0px; border:none; border-radius:5px; color:white; padding:0px 0px; text-align:center; font-size:14px; margin:1px 2px; opacity:0.6; transition:0.3s; display:inline-block; text-decoration:none; cursor:pointer;}
.Button_Enabled:hover  {opacity:1   }
.Button_Enabled:img    {float:middle}
